<div class="settings-panel">
  <div class="settings-panel__container">
    <h1>Settings</h1>
    <div class="settings-panel__button-wrapper">
      <button class="settings-panel__button" (click)="this.resetSettings()">
        Reset settings
      </button>
      <button class="settings-panel__button" (click)="this.applySettings()">
        Apply
      </button>
    </div>
    <hr />
    <!-- Ray tracing settings -->
    <h2>Ray tracing settings</h2>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <label for="samplesPerPixel">Samples per pixel:</label>
          </div>
          <div class="col-12">
            <input
              class="settings-panel__input"
              id="samplesPerPixel"
              type="number"
              [formControl]="
                this.rayTracingSettingsForm.controls.samplesPerPixel
              "
            />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <label for="maxDepth">Ray bounce depth:</label>
          </div>
          <div class="col-12">
            <input
              class="settings-panel__input"
              id="maxDepth"
              type="number"
              [formControl]="this.rayTracingSettingsForm.controls.maxDepth"
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- Camera settings -->
    <h2>Camera settings</h2>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <label for="vFov">vFov:</label>
          </div>
          <div class="col-12">
            <input
              class="settings-panel__input"
              id="vFov"
              type="number"
              [formControl]="this.cameraSettingsForm.controls.vFov"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Look from</legend>
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <label for="lookFromX">X:</label>
                </div>
                <div class="col-12">
                  <input
                    class="settings-panel__input--fieldset"
                    id="lookFromX"
                    type="number"
                    [formControl]="this.cameraSettingsForm.controls.lookFromX"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <label for="lookFromY">Y:</label>
                </div>
                <div class="col-12">
                  <input
                    class="settings-panel__input--fieldset"
                    id="lookFromY"
                    type="number"
                    [formControl]="this.cameraSettingsForm.controls.lookFromY"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <label for="lookFromZ">Z:</label>
                </div>
                <div class="col-12">
                  <input
                    class="settings-panel__input--fieldset"
                    id="lookFromZ"
                    type="number"
                    [formControl]="this.cameraSettingsForm.controls.lookFromZ"
                  />
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="row">
        <div class="col-12">
          <fieldset>
            <legend>Look at</legend>
            <div class="row">
              <div class="col-4">
                <div class="row">
                  <div class="col-12">
                    <label for="lookAtX">X:</label>
                  </div>
                  <div class="col-12">
                    <input
                      class="settings-panel__input--fieldset"
                      id="lookAtX"
                      type="number"
                      [formControl]="this.cameraSettingsForm.controls.lookAtX"
                    />
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-12">
                    <label for="lookAtY">Y:</label>
                  </div>
                  <div class="col-12">
                    <input
                      class="settings-panel__input--fieldset"
                      id="lookAtY"
                      type="number"
                      [formControl]="this.cameraSettingsForm.controls.lookAtY"
                    />
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-12">
                    <label for="lookAtZ">Z:</label>
                  </div>
                  <div class="col-12">
                    <input
                      class="settings-panel__input--fieldset"
                      id="lookAtZ"
                      type="number"
                      [formControl]="this.cameraSettingsForm.controls.lookAtZ"
                    />
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <label for="focusDistance">Focus distance:</label>
              </div>
              <div class="col-12">
                <input
                  class="settings-panel__input"
                  id="focusDistance"
                  type="number"
                  [formControl]="this.cameraSettingsForm.controls.focusDistance"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <label for="defocusAngle">Defocus angle:</label>
              </div>
              <div class="col-12">
                <input
                  class="settings-panel__input"
                  id="defocusAngle"
                  type="number"
                  [formControl]="this.cameraSettingsForm.controls.defocusAngle"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
